{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminActionController!{% endblock %}

{% block contenu %}

    <a href="{{path('app_admin_action_ajouter')}}" class="btn btn-primary" >Ajouter une action</a>

    <table class="table">

  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Date d'achat</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for action in actions %}
    <tr>
        <td> {{action.nom}}</td>
        <td> {{action.prix}}</td>
        <td> {{action.dateAchat| date('d/m/Y')}}</td>
        <td>
            <a class="btn btn-primary" href="{{path('app_admin_action_modifier', {'id': action.id} )}}">Modifier</a>
            <button class="btn btn-danger" onclick="if (confirm('Êtes-vous sûr ?')) { window.location.href = '{{ path('app_admin_action_supprimer', {'id': action.id}) }}'; }">Supprimer</button>
        </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
